# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Documentos\TEC\2021\Semestre V\Compiladores e Intérpretes\Semana 7 - AST\compiladores_2_Ignacio_Warner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
